@import url("../styles/backgrounds.css");
@import url("../styles/table.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1D4ED8;
  --white: #ffffff;
  --black: #000000;
  --accent: #F3EDFC;
  --accent-light: #DFBFF554;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

/* Input styles */
.inputContainer {
  display: flex;
  gap: 7px;
  flex-direction: column;
  position: relative;
}

.inputContainer>label {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #000E24;
}

.inputContainer>label>span {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height, or 200% */

  color: #000E24;
}

.formContainer>h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 59.87px;
  /* margin-bottom: 9px; */
}

.inputContainer>* input,
textarea {
  padding: 12px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border: 1px solid #00000038;
  border-radius: 5px;
  width: 100%;
  color: var(--black);
}

.inputContainer>* input::placeholder,
textarea::placeholder {
  color: #acadb4;
}

.inputContainer>* input:focus,
textarea:focus {
  outline: 1px solid #1D4ED8;
}

.inputError {
  border: 1px solid #d9534f !important;
}

.error {
  color: #d9534f;
  text-align: left !important;
  font-size: 0.75rem;
}

.error::first-letter {
  text-transform: uppercase;
}

.errorText {
  color: #d9534f;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Customized Scrollbar */
.customized-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
.customized-scrollbar::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 15px;
}

/* Handle */
.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #1D4ED8;
  border-radius: 15px;
}

/* Handle on hover */
.customized-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #15348B;
}