@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	transition: all 0.5s;
}

/* For scroll animation */
.reveal {
	position: relative;
	transform: translateX(150px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateX(0);
	opacity: 1;
}

@media (max-width: 800px) {
	.desktopLink {
		display: none !important;
	}
}
